

.header{
    margin-top: 60px;
}


.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: grey;
}

.headerTitleSmall{
position: absolute;
top: 18%;
font-size: 20px;
}

.headerTitlelarge{
    position: absolute;
    top: 20%;
    font-size: 80px;
}

.headerImage{
    width: 100%;
    height: 450px;
    margin-top: 50px;
    object-fit: cover;
}
    
